Package: com.cooper.blockpowerdown
Name: BlockPowerDown
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Blocks the power down menu!
Maintainer: Cooper Hull
Author: Cooper Hull
Section: Tweaks
